body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--color1);
  min-height: 100vh;
  min-height: stretch;
  min-height: -webkit-fill-available;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color1: #F6F6F6;
  --color2: #FFE2E2;
  --color3: #FFB3AB;
  --color3dark: #f38e82;
  --color4: #AAAAAA;
  --color5: #de4f4f; 
  --text: #696969;
  --dark: #363636;
  --mobilevh: calc(100vh - 3rem);
  --desktopvh: calc(100vh - 4rem);
  --primaryFont: "Roboto";
  --error: #fd1e1e;
}

/*GLOBAL CLASSES*/

