
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.inputForm {
    background-color: var(--dark);
    border-radius: 0.5rem;
    color: red;
    overflow: hidden;
}

.inputField {
    color: var(--color1);
    font-size: medium;
}

.inputLabel {
    color: var(--color3);
    font-size: small;
}

.inputIcon {
    color: var(--color3);
}
