
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin-top: 2rem;
}

.inputForm {
    background-color: var(--dark);
    overflow: hidden;
}

.inputField {
    color: var(--color1);
    font-size: medium;
}

.inputLabel {
    color: var(--color3);
    font-size: small;
}

.inputIcon {
    color: var(--color3);
}

.send {
    padding: 1rem;
    background-color: var(--color3);
    color: var(--dark);
}

.send:hover {
    background-color: var(--color3dark);
}

.errorName {
    position: absolute;
    right: 0;
    top: 3.3rem;
    font-size: .7rem;
    font-weight: 500;
    color: var(--error);
}
.errorEmail {
    position: absolute;
    right: 0;
    top: 7.8rem;
    font-size: .7rem;
    font-weight: 500;
    color: var(--error);
}
.errorReason {
    position: absolute;
    right: 0;
    top: 16.8rem;
    font-size: .7rem;
    font-weight: 500;
    color: var(--error);
}
.errorDescription {
    position: absolute;
    right: 0;
    top: 24.2rem;
    font-size: .7rem;
    font-weight: 500;
    color: var(--error);
}
