.overlay {
    z-index: 1099;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(+100%);
    }
    100% {
      transform: translateX(0);
    }
}

.cart {
    z-index: 1100;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    height: 100vh;
    width: 18rem;
    background-color: var(--color1);
    border-left: 1px solid var(--color4);
    animation: 300ms ease-out 0s 1 slideInFromRight;
    padding: 0 .5rem;
}

@media (min-width: 899px) {
    .cart {
        width: 25rem;
    } 
}