.overlay {
    z-index: 1099;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(+100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes closeFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

.close {
    z-index: 1100;
    position: fixed;
    display: block;
    top: 0;
    right: -21rem;
    height: 100vh;
    width: 20rem;
    background-color: var(--color1);
    border-right: 1px solid var(--color4);
    padding: 0.5rem 0.5rem;
    animation: 300ms ease-in-out 0s 1 closeFromLeft;
}

.cart {
    z-index: 1100;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20rem;
    background-color: var(--color1);
    border-left: 1px solid var(--color4);
    animation: 300ms ease-in-out 0s 1 slideInFromRight;
    padding: 0.5rem 0.5rem;
    font-family: var(--primaryFont);
}

.closeDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.closeBtn {
    color: var(--text);
    padding: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: 300ms;
}

.closeBtn:hover {
    background-color: var(--color3);
}

.total {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.empty{
    text-align: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--primaryFont);
    color: var(--dark);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
}

.amount {
    font-size: 0.9rem;
    font-weight: 500;
}

.checkout {
    background-color: var(--dark);
    border: none;
    color: var(--color1);
    padding: 0.5rem;
    border-radius: .2rem;
    font-size: 0.8rem;
    font-family: var(--primaryFont);
    cursor: pointer;
}

.checkout:hover {
    background-color: var(--text);
}

@media (min-width: 899px) {
    .cart {
        width: 25rem;
    }
    .close {
        width: 25rem;
        right: -26rem;
    } 
}