.container {
    width: calc(100vw - 4rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
}

@media (min-width: 899px) {
    .container {
        width: calc(100vw - 12rem);
        padding: 3rem 6rem;
        gap: 4rem;
    }
}

@media (min-width: 1499px) {
   
}