.container {
    position: fixed;
    background-color: var(--color1);
    color: var(--text);
    width: 100vw;
    display: flex;
    align-items: center;
    height: 3rem;
    box-shadow: 1px -64px 53px 62px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px -64px 53px 62px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px -64px 53px 62px rgba(0,0,0,0.24);
    justify-content: space-between;
    z-index: 1000;
}

.splitter {
    width: 100vw;
    height: 3rem;
}

.menuButton {
    border: none;
    background-color: transparent;
    color: var(--dark);
    display: flex;
    text-align: center;
    align-items: center;
    width: auto;
    padding: 0;
    cursor: pointer;
    margin-left: 1rem;
    transition: 300ms;
}

.menuButton:hover {
    color: var(--color3);
}

.shopButton {
    border: none;
    background-color: transparent;
    color: var(--dark);
    display: flex;
    text-align: center;
    align-items: center;
    width: auto;
    padding: 0;
    cursor: pointer;
    margin-right: 1rem;
    transition: 300ms;
}

.shopButton:hover {
    color: var(--color3);
}

.pageOptions {
    display: none;
}

.redirect {
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: 500;
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
}

.redirect:hover {
    color: var(--color1);
}

.mainLogo {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("../../../public/LogoHempSolo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 2.5rem;
    width: 2.5rem;
}

.mainLogo:hover {
    cursor: pointer;
}

@media (min-width: 899px) {
    .menuButton {
        margin-left: 3rem;
    }
    .shopButton {
        margin-right: 3rem;
    }
    .mainLogo {
        width: 3.5rem;
        height: 3.5rem;
    } 
    .container {
        height: 4rem;
    }
    .splitter {
        height: 4rem;
    }
}

